// palette from https://github.com/mrmrs/colors
// translated to sass

$back: #003e6d;
$main: #046c9f;
$secondary: #dde4ed;
$terceary: #f6f6f6;
$white: #ffffff;
$black: #000000;
$gray: #c0c0c0;
$red: #f2023f;