@import 'reset';
@import 'mixins';
@import 'fonts';
@import 'colors';
body {
    @include flex(row, space-between, flex-start);
    word-wrap: break-word;
    overflow-x: hidden;
    text-align: justify;
    width: 100%;
    nav {
        @include flex(row, flex-start, flex-start);
        @include color($main, $white);
        position: fixed;
        height: 100vh;
        z-index: 1;
        width: 20%;
        text-align: left;
        overflow-y: scroll;
        a {
            color: white;
        }
    }
    main {
        @include flex(column, center, center);
        width: 80%;
        margin-left: 20%;
        header {
            @include flex(column);
            @include color($back, $white);
            height: 21vh;
            width: 100%;
        }
        article {
            @include flex(column, space-between, space-between);
            width: 95%;
            margin: 0 auto;
            padding: 8px;
            code {
                @include color($gray, $black);
                white-space: pre;
                overflow-x: auto;
            }
        }

        footer {
            @include flex(row, space-between, space-between);
            width: 80%;
            margin: 0 auto;
            button {
                background-color: $red;
                color: $white;
                border: none;
                padding: 12px;
                border-radius: 12px;
            }
            button:first-of-type {
                background-color: $back;
            }
        }
    }
}