/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Roboto+Slab");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.25; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 8.2vh; }

h2 {
  font-size: 4.6vh; }

h3 {
  font-size: 3.4vh; }

h4 {
  font-size: 2.8vh; }

h5 {
  font-size: 2.44vh; }

h6 {
  font-size: 2.2vh; }

body, button {
  font-family: "Roboto Slab";
  font-size: 4vh; }

p {
  margin: 7px; }

code {
  font-family: "Inconsolata"; }

a {
  text-decoration: none; }

i {
  font-weight: bolder;
  color: #003e6d; }

body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  word-wrap: break-word;
  overflow-x: hidden;
  text-align: justify;
  width: 100%; }
  body nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #046c9f;
    color: #ffffff;
    position: fixed;
    height: 100vh;
    z-index: 1;
    width: 20%;
    text-align: left;
    overflow-y: scroll; }
    body nav a {
      color: white; }
  body main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 20%; }
    body main header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #003e6d;
      color: #ffffff;
      height: 15vh;
      width: 100%; }
    body main article {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: space-between;
      width: 95%;
      margin: 0 auto;
      padding: 8px; }
      body main article code {
        background-color: #c0c0c0;
        color: #000000;
        white-space: pre; }
    body main footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: space-between;
      width: 80%;
      margin: 0 auto; }
      body main footer button {
        background-color: #f2023f;
        color: #ffffff;
        border: none;
        padding: 12px;
        border-radius: 12px; }
      body main footer button:first-of-type {
        background-color: #003e6d; }

/*# sourceMappingURL=doc-tor.css.map */
